@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: #336666;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}

nav {
  z-index: 1;
  display: flex;
  width: 95%;
  max-width: 1000px;
  align-self: center;
  position: fixed;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  background-color: #D9D4CC;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav img {
  height: 30px;
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
  font-style: italic;
}

@media only screen and (max-width: 400px) {
  #purchase h1 {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-size: 3.4rem;
    color: #022859;
    border-bottom: 1px solid #022859;
    letter-spacing: 5px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
  #purchase h1 {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-size: 4rem;
    color: #022859;
    border-bottom: 1px solid #022859;
    letter-spacing: 5px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1199px) {
  #purchase h1 {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-size: 5rem;
    color: #022859;
    border-bottom: 1px solid #022859;
    letter-spacing: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  #purchase h1 {
    margin-top: 35px;
    text-align: center;
    font-style: italic;
    font-size: 10rem;
    color: #022859;
    border-bottom: 1px solid #022859;
    letter-spacing: 5px;
  }
}
#purchase h2 {
  margin-top: 20px;
  font-style: italic;
  font-size: 2rem;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  align-self: center;
  margin-bottom: 10px;
}
#purchase h3 {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  color: #022859;
  letter-spacing: 5px;
}
#purchase span {
  font-size: 1.5rem;
}
#purchase a {
  text-decoration: none;
  color: #336666;
}
.locations {
  display: flex;
  flex-direction: column;
}
#amapola {
  text-align: center;
  border: 1px solid black;
  padding-bottom: 10px;
  background: rgba(51, 102, 102, 0.3);
  border-radius: 10px;
}

#purchase {
  margin-top: 60px;
  background-image: url(img/ca-bg2.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D4CC;
  height: 100vh;
}
.purchaseinfo {
  max-width: 700px;
  background: #D9D4CC;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  margin-bottom: 20px;
}


footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 5px;
}